.hero-image {
  // Photo by Kevin Schmid on Unsplash:
  background-image: url('https://images.unsplash.com/photo-1515876305430-f06edab8282a?ixlib=rb-1.2.1&auto=format&fit=crop&w=2850&q=80');
  // background-image: '/Users/daniela/Development/projects/sei-group-project/src/assets/siena_piazza.jpg';
  background-size: cover;
  background-repeat: repeat;
  height: 800px
}

h1 {
  color: white;
}
